body {
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 100%;
}

#container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  height: 100vh;
  margin: 0%;
}

#info {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 30%;
  margin-top: 5%;
}

#profilePic {
  width: 10rem;
  height: 15 rem;
}

#postSection {
  display: flex;
  flex-flow: column  wrap;
  width: 70%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

#posts {
  display: grid;
  
}